
{% extends "base.html" %}
{% load static %}




{% block etiqueta %}

   
    Inicio

{% endblock etiqueta %}

{% block botones %}

    <div class="titulo-inicio">
        <h1 style:"color:white">Gestor de Ingresos y Egresos</h1>
    </div>


{% endblock botones %}




{% block contenido %}
  
  <div class="contenido-formulario">

    <div class="contenido-formulario-hijo-inicio">
        <img style=" width: 800px;  border-radius:30px ; height: 600px;" src="{% static 'img/fondo-inicio2.png' %}" alt="Descripción de la imagen">


    </div>
   

  

    
  </div>
  
 
{% endblock contenido %}  
