{% extends "base.html" %}
{% load static %}

{% block etiqueta %}
    Reportes
{% endblock etiqueta %}



{% block botones %}

    <div class="contenedor-boton">
        <div class="boton-superior">
            <div class="boton-icono">
                <a class="a-ingreso" href="{% url 'listaIngreso' %}"><img class="img-boton" src="{% static 'Icons/ingreso.png' %}" alt=""></a>

               
    
            </div>
            
    
        </div>
        <a class="a-p-ingreso" href="{% url 'listaIngreso' %}"> <p class="tex-boton">Ingresos</p></a>
       

    </div>
    <div class="contenedor-boton">
        <div class="boton-superior">
            <div class="boton-icono">
                <a class="a-egreso" href="{% url 'listaEgreso' %}"><img class="img-boton" src="{% static 'Icons/gasto.png' %}" alt=""></a>

    
            </div>
            
    
        </div>
        <a class="a-p-egreso" href="{% url 'listaEgreso' %}"> <p class="tex-boton">Egresos</p></a>

    </div>
    

{% endblock botones %}

{% block contenido %}

<div class="contenido-formulario-detalle-ingreso-egreso">
    <div class="tablas-titulo">
        <h3>Lista de Ingresos</h3>

      </div>

      <div class="contenido-formulario-hijo-detalle-ingreso-egreso">
        

        <table class="table table-success table-striped mt-3">
            <thead>
                <th style="text-align: center;">Mes</th>
                <th style="text-align: center;">Detalles</th>
            </thead>
            <tbody>   
                {% for mes in meses %}
                <tr>
                    <td style="text-align: center;">{{mes.nombre}}</td>
                    <td style="text-align: center;"><a href="{% url 'detallesIngresos' mes.id %}" class="btn btn-info">Detalles</a></td>
                    
        
                </tr>
                {% endfor %}
            </tbody>
        </table>

      </div>

    
        



    
</div>


{% endblock contenido %}
